<table>
  <thead>
    <th>Name</th>
    <th>Location</th>
    <th>Registration Date</th>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <% if merchant.status %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= "#{merchant.city}, #{merchant.state}"%></td>
        <td><%= merchant.created_at%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
