<%= video_tag "bartender.mp4", autoplay: true, loop: true, muted: true, class: "bartendersvideo", type: "video/mp4" %>
<div class="welcome-header">
  <h1>Myxology.</h1>
  <p>Your digital speakeasy</p>
</div>
