.navbar li {
  display: inline-block;
  font-size: 12px;
  padding: 0 15px;
}
.navbar a {
  color: white;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}
.navbar {
  background-color: black;
  color: white;
}
#flashes {
  color: white;
}
