.cart-show {
  align-content: center;
  text-align: center;
}

.cart-show h1 {
  color: white;
}


.card-img-top {
  margin: auto;
}
.grand-total {
  color: white;
}
.cart-contents-button p {
  color: white;
}
