#dashboard {
  text-align: center;
  color: black;
  justify-content: center;
}
#dashboard {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}
#dashboard-stats li{
  color: white;
}
