.card {
  width: 100%;
  margin: auto;
  padding: 25px 0px;
}


.single_merchant_items {
  background: green;
  text-align: center;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin-top: 150px;
  height: 100px;
  font-family: 'Cinzel', serif;
}
