body {
  background-color:#9CD0FF;
  text-align: center;
  font-size: 23;
  font-weight: bold;
  font-family: monospace;
  color: #228b22;
}

#user-show-content {
  color: white;
}

.orders-table {
  border: solid 2px black;
  background: lightgrey;
  color: black;
}
.orders-table > th {
  border: solid 2px black;
  padding: 5px
}
