body {
  background-color:#9CD0FF;
  text-align: center;
  font-size: 23;
  font-weight: bold;
  font-family: monospace;
  color: #228b22;
}

#card {
  margin: 10px;
}

#user-show-content {
  color: black;
}

.orders-table {
  margin: auto;
  border: solid 2px tan;
  background: lightgrey;
  color: black;
  padding: 5px;
}
.orders-table > th {
  border: solid 2px black;
  padding: 5px;
  margin: auto;
}
