.user-index {
  color: white;
}
.user-index .jumbotron{
  color: black;
}
.user-index p{
  float: center;
  margin: auto;
  clear: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
.user-index li {
  display: inline-grid;
  padding-left: 35px;
  text-align: center;
}
#high-profit {
  padding: 0px 100px;
}
#top-3-states-metric {
  padding-left: 100px;
}
.user-index .merchant-list table{
  margin: auto;
}
.user-index hr{
  background-color: white;
}
#final-line {
  margin-bottom: 500px;
}
.user-index td a{
  font-size: 22px;  
}
