.bartendersvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.welcome-header {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 100px;
  font-family: 'Cinzel', serif;
  }
.welcome-header p {
  font-size: 12px;
  font-style: italic;
}
