<nav id="admin-nav-bar" class="navbar">
  <ul class="nav-left">
    <li><a title="home-link" id="home-link" href="/">Home</a></li>
    <li><a title="items-link" id="items-link" href="/items">Browse Items</a></li>
    <li><a title="merchants-link" id="merchants-link" href="/merchants">Browse Merchants</a></li>
  </ul>
  <ul class="nav-right">
    <li><a title="admin-users-link" id="admin-users-link" href="/admin/users">Browse All Users</a></li>
    <li><a title="logout-link" id="logout-link" href="/logout">Logout</a></li>
    <li> Logged in as <%="#{current_user.name}"%> </li>
  </ul>
</nav>
